<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
body {
  background-color: rgb(255,255,255);
  margin: auto;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

h1 {
  color: rgb(0,0,0);
}
