body {
  background-color: rgb(255,255,255);
  margin: auto;
  text-align: center;
}

@font-face {
    font-family: 'dollie_script_personal_useRg';
    src: url('dolliescript_personaluse-webfont.woff2') format('woff2'),
         url('dolliescript_personaluse-webfont.woff') format('woff');
    font-weight: 50;
    font-style: normal;

}

h1 {
  margin-top: 20px;
  margin-bottom: 20px
  background-color: rgb(255,159,240);
  color: rgb(255,0,127);
  font-size: 100px;
  font-family: "dollie_script_personal_useRg", sans-serif;
}
p {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
}
h2 {
  font-size: 80px;
  color: black;
}
