body {
  background-color: rgb(255,255,255);
  margin: auto;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

h1 {
  margin-top: 20px;
  background-color: rgb(255,159,240);
  color: rgb(0,0,0);
  font-size: 100px;
}
p {
}
h2 {
}
